@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}


// NAVBAR SCSS STARTS
nav{
  .fa {
    font-size: 20px;
  }
}

.navbar {
  margin-bottom: 0;
  background-color: transparent!important;

  .navbar-brand{
    float: left;
    padding: 0px 7px;
    height: 80px;
  }

  .navbar-brand img{
    padding-top: 5px;
    width: 61px;
  }
}

.navbar-default .navbar-nav > .active > a{
  color: #313234;
  background-color: transparent; 
}
  
.navbar-scroll {
  background: transparent;
  position: fixed;
  padding-top: 15px;
  transition: .2s;
}

.change {
    background-color: rgba(255,255,255,0.5)!important;
    padding-top: 0px;
    height: 60px;
    transition: .5s;
}


