@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f3f3;
}

body{
    margin: 20px;
    background-color: #28479e;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.row{
    margin-bottom: 10px;
}